boto3==1.11.9
botocore==1.14.9
Click==7.0
docutils==0.15.2
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
point==0.0.1
python-dateutil==2.8.1
s3transfer==0.3.2
Shapely==1.6.4.post2
six==1.11.0
urllib3==1.25.8
Werkzeug==0.16.0
